# Általános kizárások
node_modules/
dist/
.angular/
.angular-cache/
.DS_Store
Thumbs.db
*.log

# Environment fájlok (biztonság miatt)
src/environments/

# Teszt fájlok kizárása
*.spec.ts

# Képek kizárása (ha nincs rá szükség a projektekben)
*.jpg
*.jpeg
*.png
*.gif
*.svg

# Saját jegyzetek kizárása
leiras.txt
vizsgaminta.txt
hf.txt

# Fordítási beállítás-mentések
*.map

# OS és editor saját fájlok
.vscode/
.idea/

# Git saját mappa
.git

