<!-- Készíts egy TanfolyamAdminComponent-et:

    Felvitel: név és ár beviteli mezőkkel, Felvitel gombbal hozzáadás egy listához.

    Szűrés: egy külön input, ahol a felhasználó megad egy minimum árat, és csak a drágább tanfolyamokat jelenítse meg.
    Használj: [(ngModel)], *ngFor, FormsModule szükséges.
-->
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h1>tanfolyam-admin</h1>
        </div>
    </div>
    <form class="row">
        <div class="mb-4 form-group">
            <label for="nev" class="form-label">Név</label>
            <input type="text" [(ngModel)]="nev" class="form-control" id="nev" name="nev">
            
        </div>

        <div class="mb-4 form-group">
            <label for="ar" class="form-label">Ár:</label>
            <input type="number" [(ngModel)]="ar" class="form-control" id="ar" name="ar">
            
        </div>
        <div class="col-12 my-4">
            <button class="btn btn-primary" type="button" id="szures" name="szures" (click)="szures()">Szures</button>
        </div>
        <div class="col-12 my-4">
            <button class="btn btn-primary" type="button" id="felvitel" name="felvitel" (click)="felvitel()">Felvitel</button>
        </div>

        <div class="col-12 my-4"><!--  "reset" gombot, amellyel visszaállítod az összes tanfolyamot,:-->

           <button class="btn btn-secondary" (click)="reset()" type="button" id="reset" name="reset">Reset</button>

        </div>


    </form>

    <div class="row my-4">
        <div class="col-12">
            <ul>
                <li *ngFor="let tanfolyam of tanfolyamok">
                    {{tanfolyam.nev}}-{{tanfolyam.ar}}
                </li>
            </ul>

        </div>
    </div>










</div>
